<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/css/mdb.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <!-- Google model viewer -->
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>
    <!-- Babylon model viewer -->
    <script src="https://cdn.babylonjs.com/viewer/babylon.viewer.js"></script>

    <link rel="stylesheet" href="{% static "d2app/css/index.css" %}">
    <title>D2ModelViewerDjango</title>

</head>
  <body>

    <div id="top-text">
      <h1>Select a model</h1>
    </div>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-4 container-col" id="buttons">
                <div class="row">
{#                    <div class="col-2"></div>#}
                    {% csrf_token %}
                    {{ buttons_html|safe }}
{#                    <div class="col-2"></div>#}
                    </div>
            </div>
            <div class="col-8 container-col" id="model-view">
                <model-viewer src="{% static "d2app/models/model.glb" %}" camera-controls id="model-viewer"></model-viewer>
            </div>
        </div>
    </div>
  </body>
</html>